*{
    list-style: none;
    box-sizing: border-box;
    /*que no haya margenes en ninguno de los lados de la hoja, sirve para el menu y el footer*/
    margin: 0;
    padding: 0;
    font-family: "Gadugi" /*fuente para todo*/
}

body{
    height: 145vh;
    position: relative;
    /*footer siempre abajo*/
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    /*footer siempre abajo*/

}

/*ENCABEZADO*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    background: linear-gradient(to bottom, #1b5997, #7b669e); /*para color degradado código css*/;
}



.logo{
    height: 80px; /*altura del logo*/
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a{
    text-decoration: none;
}

.item a{
    margin: 0 15px;
    font-size: 20px;
    font-weight: 600; /*grosor*/
    cursor: pointer;
    color: #100303;
}

.item a:hover{
    color: #23efec; /*se vuelva ese color cuando acerquemos el cursor a las opciones del menu*/
}

#menu{
    display: none; /*para ocultar el input*/
}

.menu_icono{
    width: 25px; /*tamaño del menu hamburguesa*/
}

label{
    cursor: pointer;
    display: none; /*que desaparezca el menu hamburguesa*/
}

/*responsive del menu*/
@media(max-width:991px){
    .menu{
        padding: 30px;
        margin: 0;
    }

    label{
        display: initial;
    }

    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #318d4d;
        display: none;
    }

    .item{
        margin: 0 0 20px 0; /*0 arriba 0 derecha 20px abajo 0 izquierda*/
        width: 100%;
    }

    #menu:checked ~ .menu{
        display: initial;
    }
    
}
/*FIN ENCABEZADO*/

/*CONTENIDO*/
section h1{
    font-family: "Trebuchet MS";
    font-weight: bold; /*500*/
    text-align: center;
    font-size: 60px;
    color: #2a1387;
    margin-top: 130px;
}
/*FIN CONTENIDO*/



/*PIE DE PAGINA*/
footer{  /*footer siempre abajo*/
    margin-top: auto;
}
.pie_pagina {
    width: 100%; /*ancho de 100%*/
    background: radial-gradient(circle, #6c377b, #0b6e6e); /*para color degradado código css*/
}

.pie_pagina .grupo_1 {
    width: 100%;
    max-width: 1200px; /*maximo de ancho*/
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*que se repita 3 columnas y que ocupe todo el ancho*/
    grid-gap: 50px; /*cada columna que tenga un margen de 50px*/
    padding: 45px 0px; /*45 hacia arriba y o hacia los costados*/
}

.pie_pagina .grupo_1 .box figure { /*figure es para buscar a la etiqueta figure del primer box*/
    width: 100%;
    height: 100%;
    display: flex; /*flex para que sea flexible*/
    justify-content: center; /*centrar horizontalmente*/
    align-items: center; /*centrar verticalmente*/
}

.pie_pagina .grupo_1 .box figure img {
    width: 200px; /*define el tamaño del la foto o logo del pie de pagina*/
}

.pie_pagina .grupo_1 .box h2 {
    color: #fdfbfb; /*color de la letra de SOBRE NOSOTROS y SIGUENOS*/
    margin-bottom: 25px; /*margen inferior para que pueda separarse con el parrafo*/
    font-size: 20px;
}

.pie_pagina .grupo_1 .box p {
    color: #f8f3f3;
    margin-bottom: 10px /*margen inferior para que el parrafo de abajo se separen con el de arriba*/;
}

.pie_pagina .grupo_1 .red_social a { /*para los iconos de redes sociales*/
    display: inline-block;
    text-decoration: none; /*para que se borre su subrayado*/
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #000000;
    margin-right: 10px; /*margen derecha*/
    background-color: #318d4d;
    text-align: center; /*para centrar los iconos en sus cuadrados*/
    transition: all ease 300ms; /*la velocidad con que aparece la manito en vez del cursor para seleccionar un icono*/
}

.pie_pagina .grupo_1 .red_social a:hover { /*a:hover siempre debe ir jundo, si esta asi: a :hover no funciona*/
    color: aqua; /*que cambie de color cuando acerquemos el cursor*/
    transform: scale(1.2); /*que sea mas grande cuando acerquemos el cursor*/
}

.pie_pagina .grupo_2 {
    background-color: #1ea08cc6;
    padding:  10px 10px;
    text-align: center;
    color: #000000;
}

.pie_pagina .grupo_2 small {
    font-size: 25px; /*tamaño de la ultima fila de abajo*/
}

/*responsive pie de pagina*/
@media screen and (max-width:800px){
    .pie_pagina .grupo_1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr); /*que se repita 3 columnas y que ocupe todo el ancho*/
        grid-gap: 30px; /*cada columna que tenga un margen de 50px*/
        padding: 35px 0px; /*45 hacia arriba y o hacia los costados*/
    }
}
/*FIN PIE DE PAGINA*/